<% include partials/header %>
<link rel="stylesheet" href="/css/calculator.css">
<div class="container">
	<h1>Point Buy Calculator</h1>
	<div class = "container"><form>
			<table class="table">
				<tr>
					<th></th>
					<th>Base</th>
					<th>Cost</th>
					<th>Racial</th>
					<th>Total</th>
					<th>Modifier</th>
				</tr>
				<tr>
					<th>Strength:</th>
					<td>
						<select name="strength" class = "base form-control" onchange="update()"></select>
					</td>
					<td><input type="text" readonly maxlength="2" class="cost form-control"></td>
					<td><input type="text" readonly maxlength="2" class="race form-control"></td>
					<td><input type="text" readonly maxlength="2" class="total form-control"></td>
					<td><input type="text" readonly maxlength="2" class="modifier form-control"></td>
				</tr>
				<tr>
					<th>Dexterity:</th>
					<td>
						<select name="dexterity" class = "base form-control" onchange="update()"></select>
					</td>
					<td><input type="text" readonly maxlength="2" class="cost form-control"></td>
					<td><input type="text" readonly maxlength="2" class="race form-control"></td>
					<td><input type="text" readonly maxlength="2" class="total form-control"></td>
					<td><input type="text" readonly maxlength="2" class="modifier form-control"></td>
				</tr>
				<tr>
					<th>Constitution:</th>
					<td>
						<select name="strength" class = "base form-control" onchange="update()">
					</td>
					<td><input type="text" readonly maxlength="2" class="cost form-control"></td>
					<td><input type="text" readonly maxlength="2" class="race form-control"></td>
					<td><input type="text" readonly maxlength="2" class="total form-control"></td>
					<td><input type="text" readonly maxlength="2" class="modifier form-control"></td>
				</tr>
				<tr>
					<th>Intelligence:</th>
					<td>
						<select name="strength" class = "base form-control" onchange="update()"></select>
					</td>
					<td><input type="text" readonly maxlength="2" class="cost form-control"></td>
					<td><input type="text" readonly maxlength="2" class="race form-control"></td>
					<td><input type="text" readonly maxlength="2" class="total form-control"></td>
					<td><input type="text" readonly maxlength="2" class="modifier form-control"></td>
				</tr>
				<tr>
					<th>Wisdom:</th>
					<td>
						<select name="strength" class = "base form-control" onchange="update()"></select>
					</td>
					<td><input type="text" readonly maxlength="2" class="cost form-control"></td>
					<td><input type="text" readonly maxlength="2" class="race form-control"></td>
					<td><input type="text" readonly maxlength="2" class="total form-control"></td>
					<td><input type="text" readonly maxlength="2" class="modifier form-control"></td>
				</tr>
				<tr>
					<th>Charisma:</th>
					<td>
						<select name="strength" class = "base form-control" onchange="update()"></select>
					</td>
					<td><input type="text" readonly maxlength="2" class="cost form-control"></td>
					<td><input type="text" readonly maxlength="2" class="race form-control"></td>
					<td><input type="text" readonly maxlength="2" class="total form-control"></td>
					<td><input type="text" readonly maxlength="2" class="modifier form-control"></td>
				</tr>
			</table>
			<div class="col-xs-4"><strong>Race: </strong>
				<select name="race" id="race" onchange="updateRace()"></select>
			</div>
			<div class="col-xs-4"><strong>Available Points: </strong>
				<select name="points" id="points" onchange="calculateCosts()"></select>
			</div>
			<div class="col-xs-4"><strong>Remaining Points: </strong>
				<input type="text" readonly id="remaining"></select>
			</div>
		</form></div>
</div>
<script src="/js/calculator.js"></script>
<% include partials/footer %>