    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Books</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Player's Handbook</h2>
          <p>Contains rules for character creation and advancement, backgrounds and skills, exploration and combat, equipment, and spells. Essential for character creation.</p>
          <p><a class="btn btn-default" href="http://10.0.0.21/books/PlayersHandbook.pdf" download role="button">Download &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Monster Manual</h2>
          <p>Contains all of the rules and monsters necessary to run a campaign.</p>
          <p><a class="btn btn-default" href="http://10.0.0.21/books/MonsterManual.pdf" download role="button">Download &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Dungeon Master's Guide</h2>
          <p>Contains information for the Dungeon Master as well as more items</p>
          <p><a class="btn btn-default" href="http://10.0.0.21/books/DungeonMastersGuide.pdf" download role="button">Download &raquo;</a></p>
        </div>
