<% include partials/header.ejs%>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>D&D Tools</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Classes</h2>
			<p>Contains rules for each player class.</p>
			<p><a class="btn btn-default" href="/classes" role="button">Download &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Monsters</h2>
			<p>Contains all of the rules and monsters necessary to run a campaign.</p>
			<p><a class="btn btn-default" href="/monsters" download role="button">Download &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Dungeon Master's Guide</h2>
			<p>Contains information for the Dungeon Master as well as more items</p>
			<p><a class="btn btn-default" href="" download role="button">Download &raquo;</a></p>
		</div>
<% include partials/footer.ejs%>