<% include ../partials/header.ejs %>
<div class="container">
	<h1>Monsters</h1>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Challenge Rating</th>
	      <th>Type</th>
	      <th>Size</th>
	    </tr>
	  </thead>
	  <tbody>
		<% monsters.forEach(function (monster){%>
			<tr>
			<td><a href="" class="monster"><%= monster.name.replace(' ', '_') %></a></td>
			<td><%= monster.challenge %></td>
			<td><%= monster.type %></td>
			<td><%= monster.size %></td>
			</tr>
		<% }) %>
	  </tbody>
	</table>
	<div class="row">
	</div>
<a href="/monsters/new" class="btn btn-primary btn-lg">Add a new monster.</a>
</div>
<% include ../partials/footer.ejs %>