<div class="container">
	<h1>Monsters</h1>
	<table class="table">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>Challenge Rating</th>
	      <th>Type</th>
	      <th>Size</th>
	    </tr>
	  </thead>
	  <tbody>
		{{#each monsters}}
			<tr>
			<td><a href="" class="monster">{{this.name}}</a></td>
			<td>{{this.challenge}}</td>
			<td>{{this.type}}</td>
			<td>{{this.size}}</td>
			</tr>
		{{/each}}
	  </tbody>
	</table>
	<div class="row">
	</div>
<a href="/monsters/new" class="btn btn-primary btn-lg">Add a new monster.</a>
</div>
<script src="/js/monster/index.js"></script>