<div class="container">
	<h1>Add A New Monster</h1>
	<form action="/monsters" method="post">
	<input type="text" placeholder="name" name="name" class="form-control">
	<input type="text" placeholder="health" name="health" class="form-control">
	<input type="text" placeholder="type" name="type" class="form-control">
	<input type="text" placeholder="size" name="size" class="form-control">
	<input type="text" placeholder="ac" name="ac" class="form-control">
	<input type="text" placeholder="speed" name="speed" class="form-control">
	<input type="text" placeholder="str" name="str" class="form-control">
	<input type="text" placeholder="dex" name="dex" class="form-control">
	<input type="text" placeholder="con" name="con" class="form-control">
	<input type="text" placeholder="int" name="int" class="form-control">
	<input type="text" placeholder="wis" name="wis" class="form-control">
	<input type="text" placeholder="cha" name="cha" class="form-control">
	<input type="text" placeholder="prof" name="prof" class="form-control">
	<input type="text" placeholder="saving" name="saving" class="form-control">
	<input type="text" placeholder="skills" name="skills" class="form-control">
	<input type="text" placeholder="senses" name="senses" class="form-control">
	<input type="text" placeholder="languages" name="languages" class="form-control">
	<input type="text" placeholder="challenge" name="challenge" class="form-control">
	<input type="submit">
	</form>
</div>