<div class="container">
	<h1>Add A New Monster</h1>
	<form action="/monsters" method="post">
		<input type="text" placeholder="Name" name="monster" class="form-control">
		<input type="text" placeholder="Name" name="health" class="form-control">
		<input type="submit">
	</form>
</div>