<% include ../partials/headers/classes.ejs%>
<div class="container">
<h1>Cleric</h1>
<p>As a cleric, you gain the following class features.</p>
<h3>Hit Points</h3>

<p><strong>Hit Dice:</strong> 1d8 per cleric level</p>

<p><strong>Hit Points at 1st Level:</strong> 8 + your Constitution modifier</p>

<p><strong>Hit Points at Higher Levels:</strong> 1d8 (or 5) + your Constitution modifier per paladin level after 1st</p>
<h3>Proficiencies</h3>
<p><strong>Armor:</strong> Light armor, medium armor, shields</p>

<p><strong>Weapons:</strong> Simple weapons</p>

<p><strong>Tools:</strong> None</p>

<p><strong>Saving Throws:</strong> Wisdom, Charisma</p>

<p><strong>Skills:</strong> Choose two from History, Insight, Medicine, Religion</p>

<h3>Equipment</h3>

<p>You start with the following equipment, in addition to the equipment granted by your background:</p>

<ul>
	<li>(a) a mace or (b) a warhammer (if proficient)</li>
	<li>(a) scale mail, (b) leather armor, or (c) chain mail (if proficient)</li>
	<li>(a) a light crossbow and 20 bolts or (b) any simple weapon</li>
	<li>(a) a priest's pack or (b) an explorer's pack</li>
	<li>A shield and a holy symbol</li>
</ul>

<div class="container">
	<h2>Advancement</h2>
	<table class="table">
		<tr>
			<th>Level</th>
			<th>Proficiency Bonus</th>
			<th>Features</th>
			<th>Cantrips</th>
			<th>1st</th>
			<th>2nd</th>
			<th>3rd</th>
			<th>4th</th>
			<th>5th</th>
			<th>6th</th>
			<th>7th</th>
			<th>8th</th>
			<th>9th</th>
		</tr>
		<tr>
			<td>1st</td>
			<td>+2</td>
			<td>Spellcasting, Divine Domain</td>
			<td>3</td>
			<td>2</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>2nd</td>
			<td>+2</td>
			<td>Channel Divinity (1/rest), Divine Domain feature</td>
			<td>3</td>
			<td>2</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>3rd</td>
			<td>+2</td>
			<td>-</td>
			<td>3</td>
			<td>4</td>
			<td>2</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>4th</td>
			<td>+2</td>
			<td>Ability Score Improvement</td>
			<td>4</td>
			<td>4</td>
			<td>3</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
	</table>
</div>
</div>
<% include ../partials/footer.ejs %>